@import 'normalize.css';

:root {
  --bg: #FCFCFC;
  --accent-light: #3470FF;
  --accent-dark: #0B44CD;
}

*, ::after, ::before {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, Manrope, BlinkMacSystemFont, 'Manrope', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg);
  color: #121417;
}

ul,
li,
h1,
h2,
h3,
h4,
Link,
NavLink,
a,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  object-fit: cover;
}

a > img {
  transition: transform 250ms linear;
}

a:is(:hover, :focus) > img {
  transform: scale(1.03);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item {
  color: #121417;
  font-weight: 500;
  font-size: 16px;
  padding: 5px;
  display: block;
  transition: color linear 250ms;
}

.nav-item:is(:hover, :focus) {
  color: var(--accent-light);
}

.nav-item::after {
  content: '';
  width: 100%;
  opacity: 0;
  margin-top: 5px;
  height: 3px;
  border-radius: 10px;
  display: block;
  transition: opacity linear 250ms, background-color linear 250ms;
}

.nav-item.active {
  color: var(--accent-dark);
}

.nav-item.active::after {
  background-color: var(--accent-dark);
  opacity: 1;
}
